[submodule "vim/vimfiles/vundle"]
	path = vim/vimfiles/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
